<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="m-0 p-0 text-uppercase" translate> 
                {{ 'Detalles regla lista negra' }} 
            </h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-inline input-group-sm">
      <label class="w-50" translate> {{ 'lista_negra.crear_regla.lbl_nombre_regla' }} </label>
      <input type="text" class="form-control w-50 text-uppercase" name="nombreRegla" id="nombreRegla" value="{{regla2.nombreRegla}}" maxlength="250" spellcheck disabled>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="form-inline input-group-sm">
        <label class="w-50" translate> {{ 'Region :' }} </label>
        <input type="text" class="form-control w-50 text-uppercase" name="nombreRegla" id="nombreRegla"
        value="{{'9'}}" maxlength="250" spellcheck disabled>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="form-inline input-group-sm">
        <label class="w-50" translate> {{ 'Estatus :' }} </label>
        <input type="text" class="form-control w-50 text-uppercase" name="nombreRegla" id="nombreRegla"
        value="{{regla2.estatus}}" maxlength="250" spellcheck disabled>
      </div>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table class="table table-bordered table-sm table-hover m-0">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let thn of elementosvComponente.columnas" class="text-truncate" 
          scope="col" translate> {{ 'lista_negra.generar_matriz.' }}{{ thn }} 
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of paginaActual">
          <td>
              {{ registro.idAccion }}
          </td>
          <td>
            {{ registro.rechazoAutomatico }}
          </td>
          <td>
            {{ registro.mostrarCoin }}
          </td>
          <td class="text-truncate"> {{ registro.modalidadInvestigacion }} </td>
        </tr>
      </tbody>
    </table>
  <div class="row justify-content-center p-0">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0">
          <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">
              <li class="page-item">
                <a class="page-link popup2" tabindex="-1" (click)="paginaAnterior()" 
                (mouseenter)="myFunction2()" (mouseleave)="myFunction2()"
                [ngClass]="{'desactivado': numeroPaginaActual ==0 ? true:false }">
                  {{ 'Anterior' }}
                  <span id="myPopup2" class="popuptext2">
                    <span style="color: red">{{ numeroPaginaActual }}</span>
                  {{' / '}}{{ numeroPaginas }}</span>
                </a>
              </li>
              <li>
                <select class="page-link" (change)="establecerRegistrosMostrar($event)">
                  <option *ngFor="let numRegistros of multiplosPaginador"> 
                    {{ numRegistros }}
                  </option>
                </select>
              </li>
              <li class="page-item">
                <a class="page-link popup"  tabindex="-1" (click)="siguientePagina()" 
                (mouseenter)="myFunction()" (mouseleave)="myFunction()"
                [ngClass]="{'desactivado': numeroPaginaActual == numeroPaginas-1 || response.length<=0 ? true:false }">
                  {{ 'Siguiente' }} 
                  <span id="myPopup" class="popuptext">
                    <span style="color: red">{{ numeroPaginaActual+2 }}</span>
                  {{' / '}}{{ numeroPaginas }}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    </div>
  </div>
  <div class="row p-0 m-2">
    <div class="col-md-12">
      <div class="form-inline input-group-sm m-0">
        <button class="btn btn-primary btn-sm ml-auto mr-auto" data-dismiss="modal" aria-label="Close">{{ 'Salir' }}</button>
      </div>
    </div>
  </div>
        </div>    
    </div>
</div>