.modal-lg {
    max-width: 60% !important;
    max-height:none;
}
.container
{
  height: 100%;
  position: relative
}
.modal-lg {
  max-width: 60% !important;
}

table {
	display: block;
	min-height: 196px;
	height: 100%;
  background-color: white;
  width: 100%;
}

th {
	width: 1%;
}

#table-responsive{
  overflow-x:scroll;
}
