<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-uppercase" id="exampleModalLongTitle" translate>{{'general.titulos.titulo_crear_regla'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row m-3">
                <div class="col-md-12">
                    <div class="form-inline input-group-sm">
                        <label class="w-25" translate> {{ 'deposito_garantia_plazo_libres.lbl_nombre_regla' }} </label>
                        <input id="nombreRegla" name="nombreRegla" class="form-control  w-75 text-uppercase" [(ngModel)]="nombreRegla" value="nombreRegla"
                            type="text" (keypress)="evitaEspeciales($event)" maxlength="250">
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label class="w-25" translate> {{ 'deposito_garantia_plazo_libres.lbl_estatus' }} </label>
                        <select class="form-control form-control-sm col-6" name="estatus" id="estatus" [(ngModel)]="estatusClave" disabled>
                            <option value="-3" translate>{{ 'general.combo.cmb_select' }}</option>
                            <option *ngFor="let estatus of cbmEstatus" value="{{estatus.clave}}"> {{estatus.descripcion}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row modal-footer">
                <div class="col-md-12">
                    <div class="form-inline">
                        <button class="btn btn-primary btn-sm ml-auto mr-1" (click)="guardar()" data-dismiss="modal" translate> {{ 'general.botones.btn_guardar' }} </button>
                        <button class="btn btn-primary btn-sm ml-1 mr-1" (click)="limpiarForm()" data-dismiss="modal" translate> {{ 'general.botones.btn_cancelar' }} </button>
                        <button class="btn btn-primary btn-sm mr-auto ml-1" (click)="limpiarForm()" translate> {{ 'general.botones.btn_limpiar' }} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>