<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-uppercase" id="exampleModalLongTitle" translate>{{'general.titulos.titulo_detalle_matriz'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <fieldset disabled>
                <div class="row form-inline justify-content-center ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline input-group-sm">
                                <label translate> {{ 'planes_libres.lbl_nombre_regla' }} </label>
                                <input type="text" maxlength="200" size="40" class="form-control text-uppercase disabled" value="{{nombreRegla}}">
                            </div>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col-md-12">
                            <div class="form-inline input-group-sm">
                                <label translate> {{ 'planes_libres.lbl_region' }} </label>
                                <input type="text" maxlength="4" size="10" class="form-control text-uppercase disabled" value="{{idRegion}}">
                            </div>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col-md-12">
                            <div class="form-inline input-group-sm">
                                <label translate> {{ 'planes_libres.lbl_estatus' }} </label>
                                <input type="text" maxlength="4" size="6" class="form-control text-uppercase disabled" value="{{estatusClave}}">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <div class="row">
                <div class="col-md-12 col-md-6 col-md-3">
                    <div id="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead class="thead-light">
                                <tr>
                                        <th class="text-truncate " scope="col" translate> {{ 'planes_libres.lbl_col_name_No' }} </th>
                                        <th class="text-truncate " scope="col" translate> {{ 'planes_libres.lbl_col_clase_cred' }} </th>
                                        <th class="text-truncate " scope="col" translate> {{ 'planes_libres.lbl_col_accion_dep' }} </th>
                                        <th class="text-truncate " scope="col" translate> {{ 'planes_libres.lbl_col_accion_si_dep' }} </th>
                                        <th class="text-truncate " scope="col" translate> {{ 'planes_libres.lbl_col_accion_no_dep' }} </th>
                                        <th class="text-truncate" scope="col" translate> {{ 'planes_libres.lbl_col_accion_adm' }} </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let lst of lstDetalle ; let i = index">
                                        <td class="text-truncate text-center">{{i+1}}</td>
                                        <td class="text-truncate text-center">{{lst.descClaseCredito}}</td>
                                        <td class="text-truncate text-center">{{lst.descAccionConsDep}}</td>
                                        <td class="text-truncate text-center">{{lst.descASiCumpleDep}}</td>
                                        <td class="text-truncate text-center">{{lst.descAccionNoCumpleDep}}</td>
                                        <td class="text-truncate text-center">{{lst.descIdAccionAdm}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row modal-footer conteiner col-md-12 col-md-6 col-md-3 justify-content-center">
                <div class="col-2 ml-2">

                    <button class="btn btn-primary btn-md" data-dismiss="modal"> {{ 'Salir' }} </button>

                </div>
            </div>
        </div>

    </div>
</div>