<div class="modal-dialog modal-dialog-centered modal-md" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-uppercase" id="exampleModalLongTitle" translate>{{msjEliminarTitulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="text-align: center">
          <i class="fa fa-warning" style="font-size:48px;color:red"></i>
          <br>
          <span class="p-1">
              <h6>{{msjEliminar}}</h6>
          </span>
          <br>
        <div>
            <button class="btn btn-primary btn-sm mr-2 " (click)="regresar()" data-dismiss="modal" translate> {{ 'general.botones.btn_aceptar' }} </button>
            <button class="btn btn-primary btn-sm " data-dismiss="modal" translate> {{ 'general.botones.btn_cancelar' }} </button>
        </div>
      </div>
  </div>
</div>
